html {
    font-size: 14px;
}

body {
    background-color: #ffffff;
    padding: 0 1em 0 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
}

h1 {
    padding: 0.2em;
    margin: 0;
    background-color: inherit;
    text-decoration: none;
    font-size: 1.6em;
    font-weight: bold;
}

h2 {
    padding: 0.2em 0 0.2em 0.7em;
    margin: 0 ;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
}

h2 a,
h2 a:hover,
h2 a:active {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
}

h3 {
    background-color: inherit;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0;
    margin: 0 ;
}

h4 {
    background-color: inherit;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0;
    margin: 0 ;
}

/* margin adjustment */
h3 + *, h4 + * {
    margin-top: 0;
}

strong {
    font-weight: bold;
}

q, em, var {
    font-style: italic;
}

/* fixup IE & Opera
 * otherwise they forget to inherit
 * the computed font-size value
 */
table, code {
    font-size: 1em;
}

a:link,
a:visited,
a:active {
    color: #0073c7;
    background-color: inherit;
}

a:link:hover,
a:visited:hover {
    color: #0073c7;
    background-color: inherit;
}

div.screen {
    background-color: #000000;
    font-size: 1em;
    color: #ffffff;
    margin: 1em 2em 1em 1em;
}

div.example {
    background-color: #e5ecf3;
    color: #000000;
    padding: 0.5em;
    margin: 1em 2em 1em 1em;
}

div.warn {
    color: #ed2e38;
}

pre, code {
    font-family: Andale Mono, Courier New, Courier, monospace;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
}
em.screen {
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    color: #c0c0c0;
}
p.screen {
    background-color: #000000;
    border-style: none;
    color: #c0c0c0;
    margin-left: 0.5em;
    margin-right: 0px;
    text-align: left;
    font-size: 1em;
}
b.screen {
    font-weight: normal;
    font-style: normal;
    color: #c0c0c0;
    font-size: 1em;
}

b.note {
    font-weight: normal;
    font-style: italic;
    color: #c0c0c0;
    font-size: 1em;
}

code.screen {
    font-family: Andale Mono, Courier New, Courier, monospace;
    background-color: #000000;
    border-style: none;
    color: #c0c0c0;
    margin-left: 0.5em;
    margin-right: 0px;
    text-align: left;
}
b.code {
    font-family: Andale Mono, Courier New, Courier, monospace;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    color: #023264;
}
p.todo {
    background-color: #ffffff;
    border-style: none;
    color: #ed2e38;
    text-align: justify;
    font-size: 1em;
}

td.section {
    background-color: #023264;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 0.5em;
}

td.subsection {
    background-color: #557697;
    color: #ffffff;
    font-weight: bold;
    font-size: 1em;
    padding-left: 0.5em;
}

th.directive {
    background-color: #e5ecf3;
    color: #405871;
    font-weight: bold;
    font-size: 1em;
}

th.attribute {
    background-color: #e5ecf3;
    color: #405871;
    font-weight: bold;
    font-size: 1em;
}

table.screen {
    background-color: #000000;
    border: 1px solid;
}

td.screen {
    padding-left: 0.5em;
    background-color: #000000;
    text-align: left;
}

td.figure {
    background-color: #ffffff;
    color: #000000;
    font-family: Andale Mono, Courier New, Courier, monospace;
    font-weight: normal;
    font-style: italic;
    font-size: 0.8em;
    text-align: justify;
}
